<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/head :: head">
    <title>Edit Blog Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card p-4">
    <h1 class="text-center mb-4">Edit Post</h1>
    <form th:action="@{/posts/{id}/edit(id=${editPost.id})}" th:method="POST" th:object="${editPost}" class="d-flex flex-column justify-content-center align-items-center">
      <div class="form-group w-100 mb-4">
        <input class="form-control mb-3 text-center" th:field="*{title}">
      </div>
      <div class="form-group w-100 mb-4">
        <textarea class="form-control text-center" th:field="*{body}"></textarea>
      </div>
      <!-- Edit Button -->
      <div class="d-grid w-100 mb-4">
        <button type="submit" class="btn btn-primary text-center">Update Post</button>
      </div>
    </form>
    <!-- Delete Button -->
    <form th:action="@{/posts/{id}/delete(id=${editPost.id})}" th:method="POST" th:object="${editPost}" class="d-flex flex-column justify-content-center align-items-center">
      <div class="d-grid w-100 mb-4">
        <button type="submit" class="btn btn-danger text-center">Delete</button>
      </div>
    </form>
  </div>
</div>




</div>
</body>
</html>