<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">Roll Guess</div>
        <div class="card-body text-center">
            <h3>You guessed: <span th:text="${guess}"></span></h3>
            <h3>The computer rolled: <span th:text="${roll}"></span></h3>
            <h3 class="alert alert-success" th:if="${guess == roll}">Congratulations! You guessed correctly.</h3>
            <h3 class="alert alert-danger"  th:if="${guess != roll}">Sorry...you guessed incorrectly.</h3>
        </div>
    </div>
</div>


</body>
</html>